<div class="content-item">
    <article class="about">
        <div class="scroll-wrapper">
            <header>
                <img src="/assets/images/LOGO.png" alt="">
                <h2>Realty Street Leads</h2>
                <h3>About Us</h3>
            </header>

            <p>Realty Street Leads provides leads for both the homeowner, investor and agent. We offer a unique social platform dedicated to helping homeowners find their local real estate professionals.</p>
            <p>Agent profiles include their years of experience, sold properties, flyers and market reports. We make it easy to find and connect with local agents by offering various chat services that include video conferencing, chatbot and live text messaging services.</p>
            <p>One of the motivating reasons we started this venture, was to create a more environmentally friendly solution to the  door-to-door print flyer ads. By supporting these agents, you are supporting a more eco friendly, marketing solution.</p>

            <a href="mailto:info@realtystreetleads.com" class="btn btn-primary">Contact us to learn more</a>
        </div>
    </article>
</div>
