<div>
    <div><img src="/assets/images/LOGO.png" width="48" height="38" alt=""></div>
    <div>
        Our Realtors Have Buyers Interested<br>
        In Purchasing A Home On Your Street
    </div>
</div>

<div>
    <a href="https://www.facebook.com/realtystreetleadsinc" target="_blank"><img src="/assets/images/Facebook.svg" width="32" height="32" alt=""></a>
    <a href="https://twitter.com/LeadsRealty" target="_blank"><img src="/assets/images/Twitter.svg" width="32" height="32" alt=""></a>
    <a href="https://www.youtube.com/watch?v=yiLZzM6RZmI" target="_blank"><img src="/assets/images/Youtube.svg" width="32" height="32" alt=""></a>
</div>

<div class="copyright">
    Copyright © 2020 Realty Street Leads. All Rights Reserved.<br>
    <a href="#" (click)="navigateTo('privacy');false">TERMS OF USE POLICY</a>
</div>