<div id="pageWrapper">
    <section class="section--float">
        <div class="container">
            <div class="section-row">
                <div class="col-text col-text-main">
                    <p class="col__description">We help homeowners find and connect with their local real estate agents
                        through our mapping portal and conversational chatbot/text services. View current market reports
                        and recently sold homes in your neighborhood.<br>
                        <br>
                        Through our mapping portal you can find local real estate agents who have recently sold homes in
                        your neighborhood. Reach out to our real estate professionals and start the conversation by
                        utilizing our chatbot, text or video conferencing services. We provide the agent's profile,
                        recently sold properties and market reports. We promote environmentally friendly solutions to
                        showcase the agents' flyers and reports online and eliminate the need for print media and door
                        to door flyers. You can view agents' online flyers and reports by accessing their profile or
                        pinpoint on the mapping portal.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-row">
                <div class="col-text">
                    <img src="/assets/images/ic-1.svg" alt="" class="col__icon">
                    <h2 class="col__title">Geo-based lead generation</h2>
                    <p class="col__description">Bring the homeowners and home buyers together through a community
                        network of local real estate professionals. Display buyer leads based on street and neighborhood
                        locations. Realtors can add pinpoints with message to any street location or neighborhood on
                        this map portal- indicating their buyer clients preferences.</p>
                </div>
                <div class="col-preview">
                    <img src="/assets/images/img-geo.png" alt="" class="preview-img preview-img--shadowed">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-row section-row--reverse">
                <div class="col-preview">
                    <img src="/assets/images/img-free.png" alt="" class="preview-img">
                </div>
                <div class="col-text">
                    <img src="/assets/images/ic-2.svg" alt="" class="col__icon">
                    <h2 class="col__title">Totally free for everyone!</h2>
                    <p class="col__description">Free access and services for homeowners and real estate agents. Through our mapping portal and chat services we help agents and homeowners connect and start the conversation.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-row">
                <div class="col-text">
                    <img src="/assets/images/ic-3.svg" alt="" class="col__icon">
                    <h2 class="col__title">More control over your business</h2>
                    <p class="col__description">RSL drives more traffic directly to your realty brand and puts you at
                        the forefront. This ultimately acts as leverage and gives more control over how you do
                        business.</p>
                </div>
                <div class="col-preview">
                    <img src="/assets/images/img-3.png" alt="" class="preview-img preview-img--shadowed">
                </div>
            </div>
        </div>
    </section>
    <section class="section--percentage">
        <div class="container">
            <h3 class="title-percentage">Investors in Real Estate Business are interested in
                newer and <br>emerging business models and thematic investments.</h3>
        </div>
        <div class="container container--percentage">
            <div class="percentage-item">
                <div class="percentage-item__data">48%</div>
                <div class="percentage-item__text">Preference for new and emerging business models</div>
            </div>
            <div class="percentage-item">
                <div class="percentage-item__data">41%</div>
                <div class="percentage-item__text">Are looking to redevelop to enhance user experience</div>
            </div>
            <div class="percentage-item">
                <div class="percentage-item__data">53%</div>
                <div class="percentage-item__text">Expect greatest impact of technology on legacy properties in the
                    next three years
                </div>
            </div>
        </div>
    </section>
    <section class="section--interface">
        <div class="container">
            <img src="/assets/images/img-4.png" alt="" class="interface-description">
        </div>
    </section>
</div>
